.card-container{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 15vh;
}
.card-content{
  border: 1px solid red;
  width: 100%;
  height: 80%;
}
.card-options{
  border: 1px solid red;
  width: 100%;
  height: 20%;
}
